﻿
@{
    Layout = null;
    
}

@using System.Configuration;

<!DOCTYPE html>

<html>
<head runat="server">
    <title>EZClinic</title>
    <meta http-equiv="content-type" content="text/html; charset=ISO-8859-1">
    <meta content="width=device-width; initial-scale=1.0; maximum-scale=1.0;  user-scalable=0;" name="viewport">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>  
    <script src="~/scripts/jquery.validate.min.js"></script>
    <link rel="stylesheet" type="text/css"
          href="http://getbootstrap.com/assets/css/docs.css">


    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" />
    <script src="http://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/3.0.0/js/bootstrap-datetimepicker.min.js" type="text/javascript"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css" />

    @*<link href="~/css/jquery-ui.css" rel="stylesheet" />
    <script src="~/scripts/jquery-ui.min.js"></script>*@
    

    <script type="text/javascript">
$(document).ready(function() {
$('#datepicker').datepicker(
{ format: "dd-mm-yyyy",
  autoclose: 'true'
});
})
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            OnGenderChange();
            OnCCTypeChange();
            $("#monthpicker").datepicker({
                format: "mm-yyyy",
                startView: "year",
                minViewMode: "months",
                autoclose: 'true'

            });
        });
    </script>

        <script type="text/javascript">
        $(document).ready(function() {
           $("#frmRegister").validate({
                rules: {
                    FirstName: "required",
                    LastName: "required",
                    Address: "required",
                    DateOfBirth: { required: true },
                    MobileNo: { required: true, minlength: 10 },
                    Email: { required: true, email: true },
                    NfcReference: "required",                    
                    NameOnCard: "required",
                    CreditCardNo: { required: true, minlength: 16 },
                    CardExpDate: "required",
                },
                messages: {
                    FirstName: "First Name is required",
                    LastName: "Last Name is required",
                    Address: "Address is required",
                    DateOfBirth: { required: "Date Of Birth is required" },
                    MobileNo: { required: "Contact No is required", minlength: "Please enter a valid Mobile No" },
                    Email: { required: "User Name is required", email: "Please enter a valid Email" },
                    NfcReference: "NFC Number is required",
                    NameOnCard: "Name On Card is required",
                    CreditCardNo: { required: "Credit Card Number is required", minlength: "Please enter a valid Credit Card No" },
                    CardExpDate: "Card Expiration Date is required",
                }
            })
        });

       
            </script>



    <style>
        .row {
            margin-left: 0px;
            margin-right: 0px;
        }

        body {
            overflow-x: hidden;
        }

        .container {
            padding-right: 15px;
            padding-left: 15px;
            margin-right: auto;
            margin-left: auto;
        }

        img {
            max-width: 100%;
        }


        .caption {
            position: absolute;
            top: 45%;
            left: 0;
            width: 100%;
        }

        .nopadding {
            padding: 0 !important;
            margin: 0 !important;
        }

        div.bego {
            border: 1px solid #000000;
        }

        legend {
            width: auto;
            border-bottom: 0px;
        }

            legend.legendStyle {
                font-size: 90%;
                color: #2E2E2E;
                background-color: transparent;
                font-weight: bold;
                font-family:Verdana;
            }

        fieldset.fsStyle {
            font-family: Verdana, Arial, sans-serif;
            font-size: small;
            font-weight: normal;
            border: 2px solid #999999;
            padding: 4px;
            margin: 5px;
        }

        .label {
            font-family: sans-serif;
        }

        .top5 {
            margin-top: 5px;
        }

        .control-label {
            padding-top: 7px;
        }

        .radioSpace {
            padding-top: 7px;
            padding-right: 5px;
        }

        .footer {
            color: grey;
            height: 10%;
            text-align: center;
            text-decoration: none;
            padding-top: 20px;
        }
        label.error {
            color: #B40404;
            font-weight:normal;
            font-size:11px;
        }
        label.message {
            color:#38610B;
            font-weight:normal;
            font-size:11px;
        }
    </style>

</head>
<body width="device-width">
    <form id="frmRegister" role="form" data-toggle="validator">
        <div id="divContainer">


            <nav class="navbar navbar-inverse nopadding">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#">EZClinic</a>
                    </div>
                    <div class="collapse navbar-collapse" id="myNavbar">
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="@Url.Action("RegisterPatient", "Patient")">Registration</a></li>
                            @*<li><a href="#">Appointment</a></li>
                            <li><a href="#">Payment</a></li>*@
                            <!---<li ><a href="#">Help</a></li>--->
                        </ul>
                        <ul class="nav navbar-nav navbar-right">

                            <!--- <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>--->
                        </ul>
                    </div>
                </div>
            </nav>


            <div class='nopadding container-fluid'>
                    <div class='row'>
                        <label id="lblMessage" class="message"></label>
                    </div>
                    <div class='row'>
                        <fieldset class="fsStyle" style="background-color:rgba(215, 217, 217, 0.46); border-radius:20px 20px;">
                            <legend class="legendStyle">Patient Personal Details</legend>
                            <div class='col-md-6 col-sm-12 col-xs-12'>
                                <div class="row top5">
                                    <div class="col-md-5 col-sm-5 col-xs-5 text-right nopadding">
                                        <label for="FirstName" class="control-label">First Name:</label>
                                    </div>
                                    <div class="col-md-7 col-sm-7 col-xs-7 text-left">
                                        <input type="text" id="FirstName" name="FirstName" placeholder="First Name" required class="form-control" maxlength="100" />
                                    </div>
                                </div>
                                <div class="row top5">
                                    <div class="col-md-5 col-sm-5 col-xs-5 text-right nopadding">
                                        <label for="LastName" class="control-label">Last Name:</label>
                                    </div>
                                    <div class="col-md-7 col-sm-7 col-xs-7 text-left" required>
                                        <input type="text" type="text" id="LastName" name="LastName" placeholder="Last Name" class="form-control" required maxlength="100" />
                                    </div>
                                </div>
                                <div class="row top5">
                                    <div class="col-md-5 col-sm-5 col-xs-5 text-right nopadding">
                                        <label for="Address" class="control-label">Address:</label>
                                    </div>
                                    <div class="col-md-7 col-sm-7 col-xs-7 text-left">
                                        <textarea class="form-control" name="Address" placeholder="Address" required maxlength="1000"></textarea>
                                    </div>
                                </div>

                            </div>
                            <div class='col-md-6 col-sm-12 col-xs-12'>
                                <div class="row top5">
                                    <div class="col-md-5 col-sm-5 col-xs-5 text-right nopadding">
                                        <label for="Sex" class="control-label">Sex:</label>
                                    </div>
                                    <div class="col-md-7 col-sm-7 col-xs-7 text-left ">
                                        <div>
                                            <input type="radio" name="radio-choice" id="rMale" required checked onclick="OnGenderChange()">Male</input>
                                            <input type="radio" name="radio-choice" id="rFemale" required onclick="OnGenderChange()">Female</input>
                                        </div>
                                        <input type="hidden" id="hGender" for="Gender" name="Gender" />
                                    </div>
                                </div>

                                <div class="row top5 ">
                                    <div class="col-md-5 col-sm-5 col-xs-5 text-right nopadding">
                                        <label for="DOB" class="control-label">Date of Birth:</label>
                                    </div>
                                    <div class="col-md-7 col-sm-7 col-xs-7 text-left">

                                        <!----datetime--->
                                        <div class="form-group">
                                            <div class='input-group date' id='datepicker'>
                                                <input type='text' class="form-control" id="dp1" required maxlength="10" placeholder="DD-MM-YYYY" />
                                                <span class="input-group-addon">
                                                    <span class="glyphicon glyphicon-calendar" id="dp2"></span>
                                                </span>
                                            </div>
                                            <input type="hidden" id="hDateOfBirth" name="DateOfBirth" for="DateOfBirth" />
                                        </div>

                                        <!--- datetime--->
                                    </div>
                                </div>
                                <div class="row top5">
                                    <div class="col-md-5 col-sm-5 col-xs-5 text-right nopadding">
                                        <label for="Number" class="control-label">Contact Number:</label>
                                    </div>
                                    <div class="col-md-7 col-sm-7 col-xs-7 text-left">
                                        <div class="form-group">
                                            <div class="input-group" required>
                                                <input type="text" id="Contact" name="MobileNo" minlength="10" maxlength="10" placeholder="Mobile Number" class="form-control" required pattern="^[0-9]*$" />

                                                <span class="input-group-addon">
                                                    <i class="glyphicon glyphicon-earphone"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--<div class="row top5">
                        <div class="col-md-5 col-sm-5 col-xs-5 text-right nopadding">
                            <label for="Sex">Previous History:</label>
                        </div>
                        <div class="col-md-7 col-sm-7 col-xs-7 text-left">
                            <input type="checkbox" class="checkbox" />
                            <input type="checkbox" class="checkbox" />

                        </div>
                    </div>-->

                            </div>

                        </fieldset>
                    </div>

                </div>

        

        <div class='row'>
            <fieldset class="fsStyle" style="background-color:rgba(215, 217, 217, 0.46); border-radius:20px 20px;">
                <legend class="legendStyle">Login Details</legend>
                <div class='col-md-6 col-sm-12 col-xs-12'>
                    <div class="row top5">
                        <div class="col-md-5 col-sm-5 col-xs-5 text-right nopadding">
                            <label for="email" class="control-label">User Name:</label>
                        </div>
                        <div class="col-md-7 col-sm-7 col-xs-7 text-left">
                            <input type="email" id="Name" name="Email" maxlength="200" placeholder="user@mydomain.com" class="form-control" required pattern="\^[a-zA-Z0-9_.+-]+@('@')[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$\" />
                            <div class="help-block with-errors"></div>
                        </div>
                    </div>

                    @*<div style="display:none" class="row top5 form-group">
                    <div class="col-md-5 col-sm-5 col-xs-5 text-right nopadding">
                        <label for="Password" class="control-label">Password:</label>
                    </div>
                    <div class="col-md-7 col-sm-7 col-xs-7 text-left">
                        <input class="form-control" name="Password" type="password" minlength="6" id="password1" placeholder="Enter your Password" required>
                        <span class="help-block">Minimum of 6 characters</span>
                    </div>
                </div>*@
                    <input type="hidden" id="hPassword" name="Password" value="password" />

                </div>
                <div class='col-md-6 col-sm-12 col-xs-12 text-center '>
                    <div class="row top5 ">
                        <div class="col-md-5 col-sm-5 col-xs-5 text-right nopadding">
                            <label for="RefNo" class="control-label"> NFC Number:</label>
                        </div>
                        <div class="col-md-7 col-sm-7 col-xs-7 text-left">
                            <input class="form-control" type="number" id="RefNo" name="NfcReference" style="" placeholder="NFC Number" value="password" required maxlength="200">

                        </div>
                    </div>
                    <!---<div class="row top5 form-group">
               <div class="col-md-5 col-sm-5 col-xs-5 text-right nopadding">
                   <label for="ConfirmPassword" class="control-label">Confirm Password:</label>
               </div>
               <div class="col-md-7 col-sm-7 col-xs-7 text-left">
                   <input class="form-control" name="confirmPassword" type="password" id="confpwd" data-match="#password1" data-match-error="Whoops, these don't match" placeholder="Confirm your Password" required>
                   <div class="help-block with-errors"></div>


               </div>--->
                </div>
            </fieldset>
        </div>

        <div class='row '>
            <fieldset class="fsStyle" style="background-color:rgba(215, 217, 217, 0.46); border-radius:20px 20px;">
                <legend class="legendStyle">Payment Details</legend>
                <div class='col-md-6 col-sm-12 col-xs-12'>
                    <div class="row top5">
                        <div class="col-md-5 col-sm-5 col-xs-5 text-right nopadding">
                            <label for="Number" class="control-label">Select your Card:</label>
                        </div>
                        <div class="col-md-7 col-sm-7 col-xs-7 text-left padding">
                            <!---<label class="radioSpace"><input type="radio" name="optradio"> <img src="Visa-icon.png" alt="VISA" /></label>
                            <label class="radioSpace"><input type="radio" name="optradio"> <img src="Paypal-icon.png" alt="PayPal" /></label>
                            <label class="radioSpace"><input type="radio" name="optradio"> <img src="Master-Card-icon.png" alt="PayPal" /></label>
                            <label class="radioSpace"><input type="radio" name="optradio"> <img src="American-Express-icon.png" alt="PayPal" /></label>---->
                            <div>
                                <input type="radio" name="radio-choice1" required checked  id="rVisa" onclick="OnCCTypeChange()"><img src="@Href("~/images/Visa-icon.png")" alt="VISA" /></input>
                                <input type="radio" name="radio-choice1" required id="rPaypal" onclick="OnCCTypeChange()"><img src="@Href("~/images/Paypal-icon.png")" alt="PayPal" /></input>
                                <input type="radio" name="radio-choice1" required id="rMaster" onclick="OnCCTypeChange()"><img src="@Href("~/images/Master-Card-icon.png")" alt="PayPal" /></input>
                                <input type="radio" name="radio-choice1" required id="rAmericanExpress" onclick="OnCCTypeChange()"><img src="@Href("~/images/American-Express-icon.png")" alt="PayPal" /></input>
                            </div>
                            <input type="hidden" id="hCCType" for="CreditCardType" name="CreditCardType" />
                        </div>

                    </div>
                    <div class="row top5">
                        <div class="col-md-5 col-sm-5 col-xs-5 text-right nopadding">
                            <label for="Name" class="control-label">Name on the Card:</label>
                        </div>
                        <div class="col-md-7 col-sm-7 col-xs-7 text-left">
                            <input class="form-control" name="NameOnCard" type="text" id="cardName" placeholder="Name on your Card" required maxlength="100">

                        </div>
                    </div>

                </div>
                <div class='col-md-6 col-sm-12 col-xs-12 text-center '>

                    <div class="row top5">
                        <div class="col-md-5 col-sm-5 col-xs-5 text-right nopadding">
                            <label for="Number" class="control-label">Card Number:</label>
                        </div>
                        <div class="col-md-7 col-sm-7 col-xs-7 text-left">
                            <input type="text" type="Number" id="cardNo" name="CreditCardNo" minlength="16" maxlength="16" placeholder="Card Number" class="form-control" required pattern="^[0-9]*$" />
                        </div>
                    </div>

                    <div class="row top5">
                        <div class="col-md-5 col-sm-5 col-xs-5 text-right nopadding">
                            <label for="ExpiryDate" class="control-label">Card Expiration Date:</label>
                        </div>
                        <div class="col-md-7 col-sm-7 col-xs-7 text-left">
                            <div class="input-append date" id="monthpicker" data-date="03-2016" data-date-format="mm-yyyy">
                                <input type="text" name="CardExpDate" class="form-control" id="dpExpiry1" required maxlength="7" placeholder="MM-YYYY">
                                <span class="add-on"><i class="icon-th"></i></span>
                            </div>
                            <input type="hidden" id="hCCExpiryMonth" for="CreditCardExpMonth" name="CreditCardExpMonth" />
                            <input type="hidden" id="hCCExpiryYear" for="CreditCardExpYear" name="CreditCardExpYear" />
                        </div>
                    </div>

                </div>
            </fieldset>
        </div>
        <div class="row">
            <div class='col-md-12 col-sm-12 col-xs-12 text-center '>

                <div class="row top5">
                    <!-- <div class="col-md-6 col-sm-6 col-xs-6 text-center nopadding"> -->

                    <button type="button" class="btn btn-primary" onclick="SavePatientDetails()">Submit</button>&nbsp;
                    <input type="button" class="btn btn-primary" value="Reset" onclick="Reset()" />
                    <!-- </div> -->
                </div>
            </div>
        </div>
        <div class="footer nopadding">
            <p> Copyright &copy; 2016 - EZClinic Access</p>
        </div>
        </div> <!---container div ends here--->


    </form>

 

</body>
</html>

<script>
    
    function SavePatientDetails() {
        debugger
        var isValid = $("#frmRegister").valid();
        if (isValid) {
            SetExpiryDate();
            //alert(JSON.stringify($("#frmRegister").serialize()));
            $.post('@ConfigurationManager.AppSettings["UrlEzClinicApi"]' + '/', $("#frmRegister").serialize(), function (data) {
                Reset();
                window.location = "@Url.Action("RegConfirmation", "Patient")" + "?PatientId=" + data.PatientId + ",&FirstName=" + data.FirstName + ",&LastName=" + data.LastName + "&MobileNo=" + data.MobileNo;
                });
            }
        }



        function OnGenderChange() {

            if ($("#rMale")[0].checked == true) {
                $("#hGender").val("M");
            }
            else {
                $("#hGender").val("F");
            }
            }

            function OnCCTypeChange() {

                if ($("#rVisa")[0].checked == true) {
            $("#hCCType").val("Visa");
                }
        else if ($("#rPaypal")[0].checked == true) {
            $("#hCCType").val("Paypal");
                }
        else if ($("#rMaster")[0].checked == true) {
            $("#hCCType").val("Master");
                }
        else if ($("#rAmericanExpress")[0].checked == true) {
            $("#hCCType").val("AmericanExpress");
                }
                }


                function SetExpiryDate() {


                    var expDate = $("#dpExpiry1").val();
                    var expDateArr;
                    //if (expDate.indexOf("-") > 0) {
                    expDateArr = expDate.split("-");
                $("#hCCExpiryMonth").val(expDateArr[0]);
                $("#hCCExpiryYear").val(expDateArr[1]);
                    //}
                $('#hDateOfBirth').val(toDate($('#dp1').val()));
                }

                function Reset() {
        $('#frmRegister')[0].reset();
        $('#frmRegister').validate().resetForm();
        $('#FirstName').focus();
                }

                function toDate(dateStr) {
                    var parts = dateStr.split("-");
                    var date = new Date(parts[2], parts[1] - 1, parts[0]);                   
                    return (date.getMonth() + 1) + '/' + date.getDate() + '/' + date.getFullYear()
                }

</script>