﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<!DOCTYPE HTML>
<html>
<head runat="server">
    <title>EZClinic</title>
    <meta http-equiv="content-type" content="text/html; charset=ISO-8859-1">
    <meta content="width=device-width; initial-scale=1.0; maximum-scale=1.0;  user-scalable=0;" name="viewport">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" />
    <style>

 html {
  background: url(../../../../images/doctor-ipad.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
	.row {
  margin-left: 0px;
  margin-right: 0px;
}
body { overflow-x: hidden;}
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
	background-color:rgba(120, 83, 83, 0.49);
}
img {
height:100px;
  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -o-filter: blur(2px);
  -ms-filter: blur(2px);
  filter: blur(2px);
}

.caption {
    position: absolute;
    top: 45%;
    left: 0;
    width: 100%;
	margin-top:20px;
	background-color:rgba(164, 217, 237, 0.37);
	vertical-align:middle;
	background-size:cover;
	border-radius:7px;
  align-items: center;
  justify-content: center;
  padding:200px;
  font-weight:bold;
}

h2{font-weight:bolder; color:#000;}
.cul{font-weight:bolder; color:#000;}
.navbar{background-color:; margin-bottom:0px;}

@@media (max-width: 978px){
.caption{padding:30px; height:200px;align-items: center;justify-content: center; margin-top:100px;}
}
    </style>

</head>
<body width="device-width">
    <form id="form1" runat="server">
        <div id="divContainer">


            <nav class="navbar navbar-inverse">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#">EZClinic</a>
                    </div>
                    <div class="collapse navbar-collapse" id="myNavbar">
                        <ul class="nav navbar-nav">
                           @* <li class="active"><a href="#">Home</a></li>
    <li><a href="Reg1.html">Registration</a></li>*@
                            @*<li><a href="Appointment.html">Appointment</a></li>*@
                            @*<li><a href="#">Help</a></li>*@
                        </ul>
                        @*<ul class="nav navbar-nav navbar-right">
                            <li><a href="Reg1.html"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                            <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                        </ul>*@
                    </div>
                </div>
            </nav>


            <div class='container'>
                <div class='row'>
                    <div class='col-md-12 text-center '>
                        <!-- <img src="cad1.jpg" alt="middle" id="img"> -->
                        <div class="caption post-content text-center ">

                            <h2>Welcome to EZClinic</h2>
                            <p class="text-center cul">Please tap your NFC or get your registration process done<span style="font-weight:bold;color:#000"> &#64;</span> frontdesk</p>

                        </div>
                    </div>
                </div>
            </div>



        </div>
    </form>
    <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</body>
</html>
